img{
  width: 30%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: auto;
  padding-left: auto; 
}


 .liscense-container{
    display: flex;
    text-align: center;
    width: 650px;
    border: 3px solid rgb(0, 0, 0);
    padding: 50px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
 }

  .text-container{
    text-align: end; 
    text-align: left; 
    width: 1000000px;
    padding-top: 125px; 
  }

  .heading-container{
    padding-top: 1px;
    margin: left; 
  }